<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />

    <title>Air Ticket Booking Portal </title>

    <script type="application/x-javascript">
        addEventListener("load", function () {
            setTimeout(hideURLbar, 0);
        }, false);

        function hideURLbar() {
            window.scrollTo(0, 1);
        }
    </script>

    <link href="~/css/wickedpicker.css" rel="stylesheet" type='text/css' media="all" />
    <link rel="stylesheet" href="~/css/jquery-ui.css" />
    <link href="~/css/style.css" rel='stylesheet' type='text/css' />
    <!-- //Stylesheet -->
    <!--fonts-->
    <link href="//fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">
    <link href="//fonts.googleapis.com/css?family=Raleway:300,400,500,600,700" rel="stylesheet">
    <link href="//fonts.googleapis.com/css?family=Megrim" rel="stylesheet">
    <!--//fonts-->

    <script type="text/javascript" src="~/js/jquery-2.2.3.min.js"></script>
    <!-- Time Js -->
    <script type="text/javascript" src="~/js/wickedpicker.js"></script>
    <script type="text/javascript">
		$('.timepicker,.timepicker1').wickedpicker({
			twentyFour: false
		});
    </script>

    <!--// Time Js -->
    <!-- Calendar Js -->
    <script src="~/js/jquery-ui.js"></script>
    <script>
		$(function () {
			$("#datepicker,#datepicker1,#datepicker2,#datepicker3").datepicker();
		});
    </script>
    <!-- //Calendar Js -->



</head>
<body>
    <div>
        @RenderBody()
    </div>
</body>
</html>
